<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">M'assah<span>African Hair Braiding</span></a>

    {%- if page_paths -%}
      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger menu-btn">
        <label class="menu-icon" for="nav-trigger">
          <span class="navicon"></span>
        </label>
        <div class="trigger">
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.menu_title -%}
            <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.menu_title | escape }}</a>
            {%- endif -%}
          {%- endfor -%}
            <a class="page-link" href="#contact-cta" id="nav-cta">Book Now</a>
            <a class="page-link" href="tel:+1-360-901-2660" id="nav-phone">360.901.2660</a>
        </div>
      </nav>
    {%- endif -%}
  </div>
</header>
