$heading-size-ratio: 2.25;
body {
    font-family: "SUSE", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
}

.rowdies-regular,
.site-title,
.page-link,
.footer-heading,
.site-footer a,
#contact-form label,
h1,
h2,
h3 {
    font-family: "Rowdies", system-ui;
    font-weight: 400;
    font-style: normal;
}

p em {
    font-size: 1.2em;
}

h2 {
    line-height: 1;
    margin-bottom: 2rem;
}

.site-header {
    .site-title {
        line-height: 1;
        letter-spacing: 1px;
        span {
            display: block;
            font-size: 0.7em;
            font-weight: 200;
            letter-spacing: 1px;
            font-family: 'SUSE';
        }
    }
    .page-link {
        letter-spacing: 1px;
        color: $brand-color;
        font-size: 1.3rem;
    
        &:hover {
          color: white;
        }
    
        line-height: $base-line-height;
    
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
}
.footer-heading {
    line-height: 1;
    letter-spacing: 1px;
    span {
        display: block;
        font-size: 0.7em;
        font-weight: 200;
        letter-spacing: 1px;
        font-family: 'SUSE';
    }   
}